<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881258065175-0hat1me1gdtlkqi8b3kqoa1mdactpla9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881258065175-0hat1me1gdtlkqi8b3kqoa1mdactpla9</string>
	<key>API_KEY</key>
	<string>AIzaSyBLab_OJoS7ANMh7x5SETRR-m992V9sH48</string>
	<key>GCM_SENDER_ID</key>
	<string>881258065175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodExpress.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-express07</string>
	<key>STORAGE_BUCKET</key>
	<string>food-express07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881258065175:ios:21239ea4dd956458905b52</string>
</dict>
</plist>